body{
    font: 20px arial, sans-serif;
   
}
.navbar {
    background-color: lightseagreen;
}
#link {
    color:white;
}
.quem-somos{
    background-color: rgba(129, 129, 247, 0.8);
}
.margin{
    padding-top: 40px;
    padding-bottom: 40px;
}
.parceiro {
    background-color: rgba(129, 129, 247, 0.8)
}
.servicos{
    background-color: rgba(129, 129, 247, 0.8)
}
.bg-footer{
    background-color: black;
    color: white;
}